{% extends "sales/base.html" %}
{% load staticfiles %}

{% block main_content %}
<br><br><br> <!-- This need to be changed. -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Quick facts</span>
                <span class="caption-helper">sales overview...</span>
                </div>
                <div class="actions">
                    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a>
                    <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i> View details</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="{{ ActiveOpportunitiesSummary }}">{{ ActiveOpportunitiesSummary }}</span>
                                </div>
                                <div class="desc"> Active opportunities </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="{{ OpenCasesSummary }}">{{ OpenCasesSummary }}</span>
                                </div>
                                <div class="desc"> Open cases </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="{{ OpenLeadsSummary }}">{{ OpenLeadsSummary }}</span>
                                </div>
                                <div class="desc"> Open leads </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 yellow-gold" href="#">
                            <div class="visual">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="{{ BackendSalesOrdersSummary }}">{{ BackendSalesOrdersSummary }}</span> 
                                </div>
                                <div class="desc"> Open sales orders </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Sales operations</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">
                    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company
                            <span class="fa fa-angle-down"> </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> All companies</a>
                            </li>
                            {% for entity in LegalEntities %}
                            <li>
                                <a href="javascript:;"> {{ entity.Name }}
                                    <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chartdiv"></div>
                <div style="margin: 20px 0 10px 30px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-success"> Revenue: </span>
                            <h3>$13,234</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info"> Tax: </span>
                            <h3>$134,900</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-danger"> Shipment: </span>
                            <h3>$1,134</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-warning"> Orders: </span>
                            <h3>235090</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Revenue</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="actions">                        
                        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company
                        <span class="fa fa-angle-down"> </span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;"> All companies</a>
                        </li>
                        {% for entity in entities %}
                        <li>
                            <a href="javascript:;"> {{ entity.Name }}
                                <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>                        
                </div>
            </div>
            <div class="portlet-body">
                <div id="chartdiv2"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Latest wins</span>
                    <span class="caption-helper">top 10 opportunities...</span>
                </div>
                <div class="actions">
                        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company<span class="fa fa-angle-down"> </span></a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;"> All companies</a>
                        </li>
                        {% for entity in entities %}
                        <li>
                            <a href="javascript:;"> {{ entity.Name }}
                                <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Opportunity id</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Estimated revenue</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for opportunity in LatestWonOpportunities %}
                        <tr>
                            <th scope="row"><a href="opportunity/{{ opportunity.OpportunityId }}">{{ opportunity.OpportunityId }}</a></th>
                            <td>{{ opportunity.Subject }}</td>
                            <td>{{ opportunity.EstimatedRevenue }}</td>
                            <td><span class="badge badge-primary">{{ opportunity.Status }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Latest orders</span>
                    <span class="caption-helper">top 10 records...</span>
                </div>
                <div class="actions">
                        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company<span class="fa fa-angle-down"> </span></a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;"> All companies</a>
                        </li>
                        {% for entity in entities %}
                        <li>
                            <a href="javascript:;"> {{ entity.Name }}
                                <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Order id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Total amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sales_order in LatestSalesOrders %}
                        <tr>
                            <th scope="row"><a href="salesorder/{{ sales_order.SalesOrderNumber }}">{{ sales_order.SalesOrderNumber }}</a></th>
                            <td>{{ sales_order.SalesOrderName }}</td>
                            <td>{{ sales_order.OrderTotalAmount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
{% endblock %}