{% extends "base.html" %}
{% load staticfiles %}              

{% block extra_style %}
<link href='{% static "css/components.min.css" %}' rel="stylesheet" type="text/css" />
<link href='{% static "css/layout.min.css" %}' rel="stylesheet" type="text/css" />
<link href='{% static "css/custom.min.css" %}' rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<style>
    #chartdiv {
      width: 100%;
      height: 400px;
    }	
    #chartdiv2 {
      width: 100%;
      height: 400px;
    }
    </style>
{% endblock %}

{% block dashboard_home_url %}/operations/{% endblock %}
{% block dashboard_name %}<i class="fa fa-tasks" aria-hidden="true"></i> OPERATIONS{% endblock %}

{% block dropdown_dashboards %}
<a class="dropdown-item" href="/sales/"><i class="fa fa-money" aria-hidden="true"></i> Sales</a>
<a class="dropdown-item" href="/inventory/"><i class="fa fa-briefcase" aria-hidden="true"></i> Inventory</a>
<a class="dropdown-item" href="/sysadmin/"><i class="fa fa-cogs" aria-hidden="true"></i> System admin</a>
{% endblock %}