{% extends "base.html" %}
{% load staticfiles %}

{% block extra_style %}
<link href='{% static "css/components.min.css" %}' rel="stylesheet" type="text/css" />
<link href='{% static "css/layout.min.css" %}' rel="stylesheet" type="text/css" />
<link href='{% static "css/custom.min.css" %}' rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }	

    #chartdiv2 {
      width: 100%;
      height: 500px;
    }
    </style>
{% endblock %}

{% block dashboard_name %}OPERATIONS{% endblock %}

{% block main_content %}
<br><br><br>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Quick metrics</span>
                <span class="caption-helper">daily based...</span>
                </div>
                <div class="actions">
                    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a>
                    <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i> View details</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="256">256</span>
                                </div>
                                <div class="desc"> Open sales orders </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                            <div class="visual">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="51">51</span>
                                </div>
                                <div class="desc"> Open purchase orders </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                <span data-counter="counterup" data-value="112.4">112.4</span>K GBP
                                </div>
                                <div class="desc"> Daily balance </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 yellow" href="#">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number"> +
                                <span data-counter="counterup" data-value="89">23</span>% 
                                </div>
                                <div class="desc"> Since yesterday </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Sales operations</span>
                        <span class="caption-helper">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company
                                <span class="fa fa-angle-down"> </span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> All companies</a>
                                </li>
                                {% for entity in LegalEntities %}
                                <li>
                                    <a href="javascript:;"> {{ entity.Name }}
                                        <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chartdiv"></div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-red-sunglo hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Revenue</span>
                        <span class="caption-helper">monthly stats...</span>
                    </div>
                    <div class="actions">                        
                            <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company
                            <span class="fa fa-angle-down"> </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> All companies</a>
                            </li>
                            {% for entity in entities %}
                            <li>
                                <a href="javascript:;"> {{ entity.Name }}
                                    <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>                        
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chartdiv2"></div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Latest orders</span>
                            <span class="caption-helper">top 10 records...</span>
                        </div>
                        <div class="actions">
                                <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company<span class="fa fa-angle-down"> </span></a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> All companies</a>
                                </li>
                                {% for entity in entities %}
                                <li>
                                    <a href="javascript:;"> {{ entity.Name }}
                                        <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Order id</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Total amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sales_order in LatestSalesOrders %}
                                <tr>
                                    <th scope="row"><a href="salesorder/{{ sales_order.SalesOrderNumber }}">{{ sales_order.SalesOrderNumber }}</a></th>
                                    <td>{{ sales_order.SalesOrderName }}</td>
                                    <td>{{ sales_order.OrderTotalAmount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Latest sales invoices</span>
                            <span class="caption-helper">top 10 records...</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-primary" href="#" role="button"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            <a class="btn btn-success" href="#" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="" class="btn dark btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Company<span class="fa fa-angle-down"> </span></a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> All companies</a>
                                </li>
                                {% for entity in entities %}
                                <li>
                                    <a href="javascript:;"> {{ entity.Name }}
                                        <span class="label label-sm label-default"> {{ entity.LegalEntityId }} </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Invoice id</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Total amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sales_invoice in LatestSalesInvoices %}
                                <tr>
                                    <th scope="row"><a href="invoice/{{ sales_invoice.InvoiceNumber }}">{{ sales_invoice.InvoiceNumber }}</a></th>
                                    <td>{{ sales_invoice.InvoiceCustomerAccountNumber }}</td>
                                    <td>{{ sales_invoice.TotalInvoiceAmount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
    {% endblock %}

{% block extra_scripts %}
<script src='{% static "js/layout.min.js" %}' type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "addClassNames": true,
      "theme": "light",
      "autoMargins": false,
      "marginLeft": 30,
      "marginRight": 8,
      "marginTop": 10,
      "marginBottom": 26,
      "balloon": {
        "adjustBorderColor": false,
        "horizontalPadding": 10,
        "verticalPadding": 8,
        "color": "#ffffff"
      },
    
      "dataProvider": [ {
        "year": 2009,
        "income": 23.5,
        "expenses": 21.1
      }, {
        "year": 2010,
        "income": 26.2,
        "expenses": 30.5
      }, {
        "year": 2011,
        "income": 30.1,
        "expenses": 34.9
      }, {
        "year": 2012,
        "income": 29.5,
        "expenses": 31.1
      }, {
        "year": 2013,
        "income": 30.6,
        "expenses": 28.2,
        "dashLengthLine": 5
      }, {
        "year": 2014,
        "income": 34.1,
        "expenses": 32.9,
        "dashLengthColumn": 5,
        "alpha": 0.2,
        "additional": "(projection)"
      } ],
      "valueAxes": [ {
        "axisAlpha": 0,
        "position": "left"
      } ],
      "startDuration": 1,
      "graphs": [ {
        "alphaField": "alpha",
        "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
        "fillAlphas": 1,
        "title": "Income",
        "type": "column",
        "valueField": "income",
        "dashLengthField": "dashLengthColumn"
      }, {
        "id": "graph2",
        "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
        "bullet": "round",
        "lineThickness": 3,
        "bulletSize": 7,
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "useLineColorForBulletBorder": true,
        "bulletBorderThickness": 3,
        "fillAlphas": 0,
        "lineAlpha": 1,
        "title": "Expenses",
        "valueField": "expenses",
        "dashLengthField": "dashLengthLine"
      } ],
      "categoryField": "year",
      "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "tickLength": 0
      },
      "export": {
        "enabled": true
      }
    } );

    var chartData = [];

function generateChartData() {
    var firstDate = new Date();
    firstDate.setTime(firstDate.getTime() - 10 * 24 * 60 * 60 * 1000);

    for (var i = firstDate.getTime(); i < (firstDate.getTime() + 10 * 24 * 60 * 60 * 1000); i += 60 * 60 * 1000) {
        var newDate = new Date(i);

        if (i == firstDate.getTime()) {
            var value1 = Math.round(Math.random() * 10) + 1;
        } else {
            var value1 = Math.round(chartData[chartData.length - 1].value1 / 100 * (90 + Math.round(Math.random() * 20)) * 100) / 100;
        }

        if (newDate.getHours() == 12) {
            // we set daily data on 12th hour only
            var value2 = Math.round(Math.random() * 12) + 1;
            chartData.push({
                date: newDate,
                value1: value1,
                value2: value2
            });
        } else {
            chartData.push({
                date: newDate,
                value1: value1
            });
        }
    }
}

generateChartData();

var chart = AmCharts.makeChart("chartdiv2", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "dataProvider": chartData,
    "valueAxes": [{
        "axisAlpha": 0.1
    }],

    "graphs": [{
        "balloonText": "[[title]]: [[value]]",
        "columnWidth": 20,
        "fillAlphas": 1,
        "title": "daily",
        "type": "column",
        "valueField": "value2"
    }, {
        "balloonText": "[[title]]: [[value]]",
        "lineThickness": 2,
        "title": "intra-day",
        "valueField": "value1"
    }],
    "zoomOutButtonRollOverAlpha": 0.15,
    "chartCursor": {
        "categoryBalloonDateFormat": "MMM DD JJ:NN",
        "cursorPosition": "mouse",
        "showNextAvailable": true
    },
    "autoMarginOffset": 5,
    "columnWidth": 1,
    "categoryField": "date",
    "categoryAxis": {
        "minPeriod": "hh",
        "parseDates": true
    },
    "export": {
        "enabled": true
    }
});


    </script>
{% endblock %}

