{% extends "base_app_site.html" %} 
{% load staticfiles %}

{% block extra_style %}
<link href='{% static "css/dashboard.css" %}' rel="stylesheet" />
{% endblock %}

{% block extra_script %}
<script src='{% static "js/dashboard.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}

{% block main_content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Sales order - {{ sales_order_id }}</h1>
        </div>
        <div class="row row-cards">
                Coming soon
            </div>
    </div>
</div>
{% endblock %}